body {
    background-image: url('./wallpaper.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
div.grid:first, div.grid:last-child {
    width: 25%!important;
    float: left;
    height: 100%;
}
div.grid {
    width: auto;
    float:left;
    height: 100%;
    background-color: black 0.7;
} 
