* {
    color: white
}
tr {
    border-color: white!important;
}
td {
    padding-left: 16px;
}
h1.card-title {
    padding-left: 16px;
    padding-bottom: 8px;
    border-bottom:  2px solid #ffa000;
    margin: 16px 0;
}
.container {
    padding: 16px 8px;
}